.title-calification {
    margin-top: 40px;
    text-align: left;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    width: 808px;
    display: flex;
    gap: 24px;
    justify-content: flex-start;
    align-items: flex-start;
}

.cont-calification {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-calification {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.cont-calification .mycart {
    width: fit-content;
    align-self: self-start;
    margin-left: 14.7%;
}

.FileCard_header {
    width: fit-content;
    height: fit-content;
    margin-bottom: 32px;
    justify-content: center;
}

img.avatar {
    width: 60px;
    height: 60px;
}

.container-product-calification {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px;
}


.product_view_calification {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 8px;
    gap: 10px;
}

.product_img_calification img {
    width: 370px;
    height: 251px;
}

.product_img_calification {
    width: 370px;
    height: 251px;
}


.product_information_calification {
    width: 404px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 10px 10px;
}

.information-value-calification {
    margin-bottom: 20px;
    color: red;
}

.label {
    width: 100%;
    margin-bottom: 20px;
}

.text {
    width: 100%;
    margin-bottom: 20px;
}

.blue-button-calification {
    width: 360px;
    border: 1px solid #DEDEE2;
    background: #578FFF;
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: #ffffff;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
    border-radius: 12px; /* Agregado el border-radius al final */
}

.white-button-calification {
    width: 360px;
    border: 1px solid var(--secundiario-azul-secundiario-azul-700, #001F48);
    background: #FFF;
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: #001F48;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
    border-radius: 12px; /* Agregado el border-radius al final */
}

.blue-button-calification:hover,
.white-button-calification:hover {
    height: 45px;
    border-radius: 12px;
}

.blue-button-calification:hover {
    border: 1px solid var(--secundiario-celeste-secundiario-celeste-700, #3E66B5);
    background: var(--secundiario-celeste-secundiario-celeste-600, #4F82E8);
}

.white-button-calification:hover {
    border: 1px solid var(--secundiario-azul-secundiario-azul-700, #001F48);
    background: rgba(142, 180, 255, 0.40);
}

.blue-button-calification:active,
.white-button-calification:active {
    border: 1px solid var(--secundiario-azul-secundiario-azul-700, #001F48);
}

.blue-button-calification:active {
    background: var(--secundiario-celeste-secundiario-celeste-700, #3E66B5);
}

.white-button-calification:active {
    background: var(--secundiario-azul-secundiario-azul-400, #335685);
}

.icon-calification {
    width: 20px;
    height: 20px;
}

.text-description-calification {
    width: auto;
    word-wrap: break-word;
}

.buttons-calification {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.preview-calification {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: flex-start;
}

.footer-calification .Footer {
    bottom: 0;
}