/* Fonts */
@font-face {
  font-family: 'Circular Spotify Text';
  src: url('../fonts/CircularSpotifyText-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Circular Spotify Text';
  src: url('../fonts/CircularSpotifyText-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-VariableFont_opszwght.ttf');
}

* {
  margin: 0;
}

.product {
  max-width: 1116px;
  margin: 40px auto;
  padding: 31px 0px;
  box-sizing: border-box;
}

.crear-publicaction .product .title {
  color: #48505E;
  font-family: 'DM Sans';
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.57px;
  margin-bottom: 20px;
}

.crear-publicaction .product_content {
  margin-bottom: 40px;
  display: flex;
  gap: 40px;
}

.crear-publicaction .product_content .product_peview {
  border-radius: 14px;
  overflow: hidden;
  width: 100%;
  padding: 10px 10px 29px 10px;
 /*  background: url(/src/assets/preview.png), rgb(255, 255, 255) 50% / cover no-repeat; */
  background-size: cover;
  background-position: center;
}

.crear-publicaction .product_content form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.crear-publicaction .product_content form label {
  color: #212121;
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.304px;
  margin-top: 1.25rem;
  margin-bottom: .2rem;
}

.crear-publicaction .product_content form input {
  width: 100%;
  height: 46px;
  border-radius: 8px;
  border: 1px solid var(--comp-gray-comp-gray-700, #48505E);
  padding: 0 1rem;
  box-sizing: border-box;
}

.descripcionproduct {
  height: 87px;
  border-radius: 8px;
  border: 1px solid var(--comp-gray-comp-gray-700, #48505E);
  padding: 1rem;
  resize: none;
  box-sizing: border-box;
}

.content_row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.colLocation {
  display: flex;
  width: inherit;
  margin-bottom: 12px;
  gap: 8px;
}

.input_location {
  width: inherit;
}

.selectInput {
  gap: 1.25rem;
  width: 180px;
  height: 46px;
  border-radius: 8px;
  border: 1px solid var(--comp-gray-comp-gray-700, #48505E);
  padding: 0 1rem;
  box-sizing: border-box;
}

.crear-publicaction .product_content form .row .col {
  width: 50%;
}

.crear-publicaction .product .additional_info h2 {
  color: #000;
  font-family: 'DM Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.24px;
}

.crear-publicaction .product .additional_info form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.crear-publicaction .product .additional_info form label {
  color: #212121;
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.304px;
  margin-top: 1.25rem;
  margin-bottom: .4rem;
  ;
}

.crear-publicaction .product .additional_info form input {
  width: 180px;
  height: 46px;
  border-radius: 8px;
  border: 1px solid var(--comp-gray-comp-gray-700, #48505E);
  padding: 0 1rem;
  box-sizing: border-box;
}


.content_Content_ad {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.products-publication {
  max-width: 1116px;
  margin: 20px auto;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 30px;
}