.content-container-result {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container-selector {
    margin-right: 14%;
}


.section-selector {
    width: 100%;
    margin-left: 12%;
    margin-bottom: 40px;
}

.title-selector {
    color: #000;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.selector-checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.container-products {
    gap: 60px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 12px;
}

.button-pagination {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid #DFE3E8;
    background: #FFF;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
}

.button-pagination.active {
    width: 24px;
    height: 24px;
    color: #4200FF;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    background: #FFF;
    border: 1px solid #4200FF;
}

.extended_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.header-results {
    width: 1171.2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:1%;
}

.text_results {
    display: flex;
    gap: 24px;
}


.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.content-select select::-ms-expand {
    display: none;
}


.content-select{
	max-width: 250px;
	position: relative;
    border: 0;
}
 
.content-select select{
	display: inline-block;
	width: 160px;
	cursor: pointer;
  	padding: 6px 12px;
  	height: 42px;
  	outline: 0; 
	background: #ffffff;
    color: var(--secundiario-azul-secundiario-azul-500, #002C66);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0px;
	border:1px solid  #002C66;
    border-radius: 50px;
    position: relative;
    transition: all 0.25s ease;
}
 
.content-select select:hover{
	background: #e0e0e0;
}
 
.content-select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 10px);
	width: 10px;
	height: 10px;
	display: block;
	border-left:4px solid #002C66;
	border-bottom:4px solid #002C66;
	transform: rotate(-45deg); 
	transition: all 0.25s ease;
}
 
.content-select:hover i{
	margin-top: 3px;
}