@font-face {
    font-family: 'Circular Spotify Text';
    src: url('./fonts/CircularSpotifyText-Medium.otf');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Circular Spotify Text';
    src: url('./fonts/CircularSpotifyText-Bold.otf');
    font-weight: 700;
  }
  @font-face {
    font-family: 'DM Sans';
    src: url('./fonts/DMSans-VariableFont_opszwght.ttf');
  }
  
  *{
    margin: 0;
  }
  /* Home CSS */
  .signIn{
    display: flex;
    height: 100vh;
  }
  h2{
    margin: 0 !important;
  }
  
  .signIn aside{
    flex-grow: 1;
    height: 100vh;
    border-radius:  0px 20px 20px 0px;
  }

  .imagenAside{
    background: url('../assets/img/imagenesEstaticas/login.png'), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    height:auto;
    max-width: 100%;
  }

  .signIn .login_section{
    display: flex;
    width: 67.3%;
    height: 100%;
    background-color: white;
  }
  
  .signIn .login_section .container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 34rem;
    max-width: 34rem;
    margin-left: 9rem;
  }
  
  .signIn .login_section h1{
    color: #000;
    font-family: 'Circular Spotify Text', sans-serif;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.684px;
    padding-left: .625rem;
  }
  
  .signIn .login_section form{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .signIn .login_section form label{
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: -0.304px;
    margin-top: 16px;
    margin-bottom: .2rem;
  }
  
  .signIn .login_section form input{
    height: 46px;
    border-radius: 8px;
    border: 1px solid var(--comp-gray-comp-gray-700, #48505E);
    padding: 0 1rem;
  }
  
  .signIn .login_section form input[type="submit"]{
    margin-top: 1.25rem;
    height: 46px;
    border-radius: 8px;
    border: 1px solid var(--comp-white-comp-white-600, #DEDEE2);
    background: var(--secundiario-celeste-secundiario-celeste-500, #578FFF);
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .signIn .login_section form input[type="submit"]:hover{
    background-color: #578fffc4;
  }
  
  .signIn .login_section span{
    margin-top: 2px;
    font-family: 'DM Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.304px;
    margin-bottom: .75rem;
  }

  .Text-In{
    margin-top: 1.25rem;
    font-family: 'DM Sans';
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.304px;
    margin-bottom: .75rem;
  }

  
  
  .signIn .login_section span a{
    color: var(--comp-gray-comp-gray-700);
  }
  
  .signIn .login_section .separator {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: .75rem 0;
    position: relative;
  }
  
  .signIn .login_section .separator hr {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
  }
  
  .signIn .login_section .separator span { 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 5rem;
    color: #727171;
    font-family: 'Circular Spotify Text';
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: -0.304px;
  }
  
  .signIn .login_section .login_buttons{
    margin-top: 1.25rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 .375rem;
    box-sizing: border-box;
  }
  
  .signIn .login_section .login_buttons button{
    border-radius: 8px;
    border: 1px solid #666;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 237px;
    height: 45px;
    gap: 1.25rem;
    color: #000;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .signIn .login_section .login_buttons button:hover{
    background-color: #e9e9e9;
  }

