.banner {
    display: flex;
    flex-grow: 1;
    height: 586px;
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
}

.portada{
    background: url(/src/assets/img/bannerimg.png), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    max-width: 100%;
    border-radius: 20px;
}
