.breadcrumbs {
    height: 30px;
    width: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: left;
    margin-left: 2rem;
}

.breadcrumbs > *{
    display: inline-block;
    margin-right: 10px;
}

.breadcrumbs .crumb:after {
    content: ">";
    margin-left: 10px;
}

.breadcrumbs .crumb:last-child:after {
    display: none;
}

.breadcrumbs .crumb a {
    color: #000000;
}

.text_crumb{
color: #000000;
}
.arrow{
    height: 24px;
    width: 24px;
}