.contenedor-categorias{
    max-width: 1116px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
}
.categorias {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.categoria {
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin: 0 8px 0 0   ;
    
}
.imagen-categoria {
    width: 210px;
    height: 100%;
}
.pcategorias {
     position:absolute; 
     color: white;
}
.titulo-categorias{
    font-size: 30px;
    max-width: 1116px;
    margin: 40px auto;
    display: flex;
    justify-content:flex-start;
}


