.search-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 24px;
    border-radius: 100px;
    background: #D9D9D9;
    margin-top: 48px;
}

.search-icon {
    width: 16px;
    height: 16px;
    padding-right: 8px;
}

.buttons {
    gap: 8px;
}

/* input {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 10px;
    border-radius: 100px;
    background: #D9D9D9;
    border-style: none;
    outline: none;
} */

.publica {
    color: black !important;
    background-color: #FFFF;
}

.dropdown-menu {

    width: 126px;
    height: 98px;
    height: fit-content;
    position: absolute;
    top: 5.3rem;
    right: 4rem;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    gap: 13px;
    z-index: 1;
    padding: 12px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.new-menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: white;
    border: none;
    color: #000;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-right: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.new-menu:hover {
    background-color: #CBDCFF;
    border-radius: 8px;
}

.iconheader {
    width: 20px;
    height: 20px;
}