
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* colores */
  --comp-gray-comp-gray-700: #48505E;

  color: var(--comp-gray-comp-gray-700);
}

body {
  margin: 0;
}
button{
  cursor: pointer;
}
input[type="submit"]{
  cursor: pointer;
}

.button_component{
  border-radius: 20px;
  border: 1px solid #0D0D0D;
  background: #ffffff;
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #0000;
  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;  
}
.button_component:hover{
  background-color: #e9e9e9;
}
.button_component.blue{
  border: 1px solid #578FFF;
  background-color: #578FFF;
  color: #FFF;
}
.button_component.transparent{
  border: transparent;
}
.button_component.w-130{
  color:#0D0D0D;
  background-color: white;
  width: 130px;
  justify-content: start;
}
.button_component.w-34{
  display: flex;
  width: 34px;
  height: 32px;
  padding: 0;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 0;
}
.button_component.full-blue{
  border-radius: 10px;
  color: white;
  border: 1px solid var(--comp-white-comp-white-600, #DEDEE2);
  background: var(--secundiario-celeste-secundiario-celeste-500, #578FFF);
}